
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="other-action clear">
    <span class="instruction">아직 회원이 아니라면</span>
    <%= link_to "회원가입", new_registration_path(resource_name), :class => 'action' %>
  </div>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="other-action clear">
    <span class="instruction">비밀번호를 잊어버렸다면</span>
    <%= link_to "비밀번호찾기", new_password_path(resource_name), :class => 'action' %>
  </div>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div class="other-action clear">
    <span class="instruction">인증 이메일을 못받았다면</span>
    <%= link_to "인증이메일받기", new_confirmation_path(resource_name), :class => 'action' %>
  </div>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%# if devise_mapping.omniauthable? %>
  <%# resource_class.omniauth_providers.each do |provider| %>
    <%# link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <%#end -%>
<%#end -%>
