javascript:
  // Create IE + others compatible event handler
  var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
  var eventer = window[eventMethod];
  var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
  var old = 200;

  // Listen to message from child window
  eventer(messageEvent,function(e) {
    //console.log('parent received message!:  ',e.data);

    d = e.data.split("=");
    v = parseInt(d[1]);
    if (d[0] == 'h' && v != old) {
      $("#board-iframe").css("height", v + "px");
      old = v;
    }
  },false);
  document.domain = "ceomba.co.kr";
  
iframe id="board-iframe" src="//#{@host}:8080/index.php?mid=#{@mid}#{@document_srl.nil? ? "" : "&document_srl=#{@document_srl}"}" style="width: 100%; min-height: 200px; padding:0; margin: 0;" frameborder="0"
