.post-wrapper
  .post
javascript:
  $(function() {
    var pattern_ceomba_com = /^(?:https?:\/\/)?blog.ceomba.co.kr/;
    var captures = pattern_ceomba_com.exec("#{@talk.url}");

    if (captures) {
      console.log("got captures");
      var parser = document.createElement("a");
      parser.href = "#{@talk.url}";

      var id = null;
      var slug = null;

      var post_id_pattern = /p=([0-9]+)/;

      // case 1) check 
      captures = null
      if (captures = post_id_pattern.exec(parser.search), !!captures && !!captures[1])
        id = captures[1];
      // case 5) check 
      else if (captures = archive_pattern.exec(parser.pathname), !!captures && !!captures[1])
        id = captures[1];

      if (!!id) {
        console.log("get id = "+id);
        $.getJSON("/posts/wordpress/" + id, function(response) {
          $(".post-wrapper .post").html(response.post.post_content.replace(/\n/g, "<br>"));
        });
      }
    }
  });

