/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'reset'
 *= require_self
 *= stub active_admin
 *= require 'reveal'
 *= require 'chosen'
 */

@import "bourbon";
@import "variables";
@import "home";
@import "users";
@import "gnb";
@import "utils";
@import "talks";
@import "problems";
@import "professionals";
@import "companies";
@import "devise";
@import "open_questions";
@import "likes";
@import "comments";

//for overall layout
*, html, body {
  @include box-sizing(border-box);
}

/* Google Web Font */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  width: 1200px;
  margin: 0 auto !important;

  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, 'Nanum Gothic', Dotum, "돋움", Gulim, "굴림", Verdana, Arial, "Trebuchet MS";
  padding-bottom: 20px;
}

//pseudo-grid?
.row {
  .column {
    float: left;
  }
}

.shadow-line {
  box-shadow:  100px 0px 50px -40px #ffffff inset, -100px 0px 50px -40px #ffffff inset,  0px 5px 10px -5px rgba(0,0,0,0.5) inset;
  background-color: transparent;
  border:none;
  height: 10px;
  width: 1300px;
  margin-left: -50px;
}

.professional-short-side {
  padding-top: 13px;
  padding-left: 13px;

  @include size(100% 78px);
  background-color: $color-green;
  .profile-photo {
    display: block;
    float: left;
    @include size(52px 52px);
    margin-right: 15px;
  }

  .name {
    padding-top: 5px;
    color: white !important;
    font-size: 20px;
    small {
      font-size: 10pt;
    }
  }

  .jobs {
    color: $color-gray-1;
    font-size: 9pt;
  }

}

#footer {
  height: 100px; 
  /*padding-top: 28px;*/
  margin-top: 150px;

  .footer-menu {
    font-size: 11px;
    padding-left: 242px;
    /*text-align: center;*/
    a {
      padding: 0 40px;
      text-decoration: none;
      color: #595959;
      border-left: 1px solid #aaa;
    }
    :last-child {
      a {
        border-right: 1px solid #aaa;
      }
    }
  }

  .wrapper {
    padding-top: 28px;
  }

  .logo-footer {
    display: block;
    float: left;
  }

  .disclaimer {
    color: #b6b6b6;
    font-size: 11px;
    line-height: 130%;
    float: left;
    margin-left: 100px;
  }

  .img-footer-right {
    float: right;
    margin-left: 20px;
    margin-top: 3px;
  }
}

