/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'reset'
 *= require_self
 *= stub active_admin
 *= require 'reveal'
 *= require 'chosen'
 */

@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
} 


@import "bourbon";
@import "variables";
@import "home";
@import "users";
@import "gnb";
@import "utils";
@import "talks";
@import "problems";
@import "professionals";
@import "companies";
@import "devise";
@import "open_questions";
@import "likes";
@import "comments";

//for overall layout
*, html, body {
  @include box-sizing(border-box);
}

/* Google Web Font */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  margin: 0 auto !important;

  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, 'Nanum Gothic', Dotum, "돋움", Gulim, "굴림", Verdana, Arial, "Trebuchet MS";
  padding-bottom: 20px;
}
#wrapper {
  width: 1200px;
  margin: 0 auto;
}

//pseudo-grid?
.row {
  .column {
    float: left;
  }
}

.shadow-line {
  box-shadow:  100px 0px 50px -40px #ffffff inset, -100px 0px 50px -40px #ffffff inset,  0px 5px 10px -5px rgba(0,0,0,0.5) inset;
  background-color: transparent;
  border:none;
  height: 10px;
  width: 1300px;
  margin-left: -50px;
}

.professional-short-side {
  padding-top: 13px;
  padding-left: 13px;

  @include size(100% 78px);
  background-color: $color-green;
  .profile-photo {
    display: block;
    float: left;
    @include size(52px 52px);
    margin-right: 15px;
  }

  .name {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white !important;
    font-size: 20px;
    small {
      font-size: 10pt;
    }
  }

  .jobs {
    color: $color-gray-1;
    font-size: 15px;
  }

}

#footer {
  height: 100px; 
  /*padding-top: 28px;*/
  margin-top: 150px;

  .footer-menu {
    font-size: 15px;
    padding-left: 250px - 40px;
    /*text-align: center;*/
    a {
      padding: 0 40px;
      text-decoration: none;
      color: #595959;
      border-left: 1px solid #aaa;
      &:hover {
        text-decoration: underline;
      }
    }
    :first-child {
      a {
        border-left: 0;
      }
    }
  }

  .wrapper {
    padding-top: 28px;
  }

  .logo-footer {
    display: block;
    float: left;
    height: 40px;
    margin-left: 47px;
  }

  .disclaimer {
    color: #b6b6b6;
    font-size: 14px;
    line-height: 125%;
    float: left;
    margin-left: 100px - 25px;
  }

  .img-footer-right {
    float: left;
    margin-left: 20px;
    margin-top: 3px;
  }
}


.info-modal {
  visibility: hidden;
  top: 100px; 
  left: 50%;
  margin-left: -512px;
  width: 1024px;
  /*background: #eee url(modal-gloss.png) no-repeat -200px -80px;*/
  background: white;
  position: absolute;
  z-index: 101;
  /*padding: 30px 40px 34px;*/
  /*-moz-border-radius: 5px;*/
  /*-webkit-border-radius: 5px;*/
  /*border-radius: 5px;*/
  /*-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);*/
  /*-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);*/
  /*-box-shadow: 0 0 10px rgba(0,0,0,.4);*/
}
  

.hr-gradient {
  max-width: 1600px; margin-bottom:20px; width: 100%; height:30px; background:url(/assets/newdesign/bg_gradient.png) repeat-x; border :none;
}

.section-title {
  &.icn-talk {
    background:url(/assets/newdesign/icn_talk_hdr.png) no-repeat;
  }

  &.icn-academy {
    background:url(/assets/newdesign/icn_academy_hdr.png) no-repeat;
  }

  &.icn-members {
    background:url(/assets/newdesign/icn_members_hdr.png) no-repeat;
  }

  &.icn-idea {
    background:url(/assets/newdesign/icn_idea_hdr.png) no-repeat;
  }
}
