/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'reset'
 *= require_self
 *= stub active_admin
 *= require 'reveal'
 */

@import "bourbon";
@import "variables";
@import "home";
@import "users";
@import "gnb";
@import "utils";
@import "talks";
@import "problems";
@import "professionals";

//for overall layout
*, html, body {
  @include box-sizing(border-box);
}

body {
  width: 1200px;
  margin: 0 auto !important;
  font-family: Myriad Pro, Lucida Sans, Segoe UI, Calibri, sans serif;
  
}

//pseudo-grid?
.row {
  .column {
    float: left;
  }
}

.shadow-line {
  box-shadow:  100px 0px 50px -40px #ffffff inset, -100px 0px 50px -40px #ffffff inset,  0px 5px 10px -5px rgba(0,0,0,0.5) inset;
  background-color: transparent;
  border:none;
  height: 10px;
  width: 1300px;
  margin-left: -50px;
}
