// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-comment {
  @include size(100% 110px);
  background-color: $color-gray-5;

  padding: 20px;
  padding-left: 34px;

  textarea {
    float: left;
    display: block;
    @include calc(width, "100% - 138px");
    width: 558px\9;
    &.big {
      width: 832px\9;
    }
    height: 70px;
    border: 0;
    padding: 10px;
    padding-right: 60px;
  }

  form {
    position: relative;
  }


  .comment-author-info {
    .name {
      color: white;
      padding-top: 20px;
    }
    .company {
      color: $color-gray-1;
    }
  }
}

.submit-hexagon {
  background-color: transparent;
  color: white;
  font-size: 9pt;
  background-image: url(/assets/icn-hexagon-green.png);
  @include size(44px 38px);
  border: 0;
  position: absolute;
  right: 10px;
  top: 35px;
  padding: 0; 
  margin-top: -19px;
}

.comment-author-info {
  position: relative;
  float: left;

  @include size(138px 100%);
  .profile-photo {
    @include size(30px);
    position: absolute;

    top: 50%;
    margin-top: -15px;
    /*margin-right: 16px;*/
  }

  .name {
    /*margin-top: 20px;*/
    margin-left: 40px;
    font-size: 12pt;
    font-weight: normal;
    /*color: white;*/
    margin-bottom: 5px;
  }

  .company {
    margin-left: 40px;
    font-weight: normal;
    font-size: 8pt;
    /*color: $color-gray-1;*/
  }
}

.comment-count {
  height: 32px;
  background-color: $color-gray-3;
  color: $color-red;
  font-size: 10pt;
  font-weight: bold;
  padding-left: 16px;
  padding-top: 16px;
}
.comments {
  background-color: $color-gray-3;
  .comment, .comment2 {
    border-bottom: 1px solid $color-gray-1;
    margin: 0 16px;
    &:first-child {
      border-top: 1px solid $color-gray-1;
    }
    position: relative;
  }

  .comment-author-info {
    margin: 20px 36px 20px 18px;
    height: 35px;
    .name {
      padding-top: 5px;
      margin-bottom: 2px;
      color: $color-gray-5;
    }

    .company {
      color: $color-gray-2;
    }
  }

  .comment-time {
    padding-top: 4px;
    /*margin-right: -5px;*/
    font-size: 9pt;
    text-align: right;
    color: $color-gray-6;
  }

  .comment-content {
    color: $color-gray-2;
    font-size: 14px;
    padding: 10px 0 20px 0;
    line-height: 120%;
    overflow: hidden;
  }

  .comment-meta {
    position: absolute;
    bottom: 5px;
    right: 5px; 
    a {
      text-decoration: none;
      color: $color-gray-2;
      font-weight: normal;
      font-size: 9pt;
      padding-top: 3px;

      &.like-count {
        padding-left: 15px;
        background: url(/assets/icn-like-count.png) no-repeat;
        margin-right: 25px;
      }

      &.comment-count {
        padding-left: 18px;
        padding-top: 1px;
        background: url(/assets/icn-comment-count.png) no-repeat;
      }
    }
  }

  //2-depth comment
  .comment2 {
    textarea {
      float: left;
      display: block;
      border: 0;
      padding: 10px;
      padding-right: 60px;
      margin-top: 10px;
      width: 100%;
      height: 55px;
    }

    .submit-hexagon {
      top: 37px;
      right: 35px; 
    }

    .comment-author-info {
      width: 138px + 22px + 10px;
      &:before {
        display: block;
        content: '';
        float: left;
        @include size(22px 22px);
        background: url(/assets/icn-depth2-comment.png) no-repeat;
        margin-right: 10px;
      }

      .name, .company {
        margin-left: 40px + 22px + 10px;
      }
    }
  }
}
