$left-width: 245px;
.devise-left-menu {
  width: $left-width;
  float: left;
  .session-menus {
    border-top: 2px solid $color-gray-1;
    border-bottom: 2px solid $color-gray-1;
    width: 150px;
    padding: 35px 0;
    margin-top: 80px;

    .session-menu-item {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        text-decoration: none;
        color: $color-gray-2;
        display: block;
        padding: 5px;
        padding-top: 7px;
        font-size: 15px;
        border-radius: 3px;
        &:hover, &.active {
          background-color: $color-gray-1;
          color: white;
        }
      }
    }
  }
}

.devise-content {
  margin-top: 80px;
  width: 1200px - $left-width;
  float: left;
}

.session-page-header {
  margin-bottom: 30px;
  .header-large {
    color: $color-green;
    font-size: 30px;
    margin-bottom: 5px;
  }
  .header-small {
    color: $color-gray-7;
    font-size: 14px;
  }
}

.facebook-auth {
  color: #48639F;
  font-size: 14px;
  text-decoration: none;
  line-height: 30px;
  &:before { 
    content: "";
    float: left;
    @include size(25px 25px);
    background: url(/assets/icn-facebook-login.png) no-repeat;
    margin-right: 10px;
  }
}


.form-label-inline {
  width: 100px;
  display: block;
  float: left;
  font-size: 14px;
  color: $color-gray-2;
  padding-top: 5px;
}

.field-wrapper {
  margin-bottom: 10px;
  input[type="email"], input[type="password"], input[type="text"] {
    border: 1px solid $color-gray-1;
    font-size: 14px;
    color: $color-black;
    margin: 0;
  }
}

hr {
  height: 2px;
  background-color: $color-gray-1;
  margin: 0; padding: 0; border: 0;border-bottom: 1px solid $color-gray-4;
}

.btn-login {
  display: block;
  @include size((62px - 10px) (62px - 10px));
  border: 0;
  border-radius: 5px;
  color: white;
  background-color: $color-gray-5;
}

.other-action {
  .instruction {
    color: $color-gray-2;
    font-size: 14px;
    float: left;
    width: 180px;
    display: block;
  }
  .action {
    background: url(/assets/bg-session-action-btn.png) no-repeat;
    @include size(125px 22px);
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding-top: 5px;
  }
  margin-bottom: 5px;
}


.category-wrapper {
  margin: 20px 0;
  .instruction {
    text-align: right;
    margin-top: -35px;
    height: 35px;
  }
  border-top: 1px solid $color-gray-1;
  border-bottom: 1px solid $color-gray-1;
  padding: 20px 0;

  font-size: 12px;
  color: $color-gray-2;

  label {
    margin-left: 10px;
    cursor: pointer;
    padding: 5px 10px;
  }

  input[type=checkbox]:checked + label { //detect checked checkbox
    background-color: #008585;
    border-radius: 3px;
    color: white;
  }

  .divider {
    margin-left: 10px;
    font-size: 13pt;
    color: $color-gray-6;
  }
}

@mixin hexagon($color, $width, $height, $radius, $ew) {
  &:before {
    content: "";
    width: 0; height: 0;
    border-right: $ew solid $color;
    border-top: $height/2 solid transparent;
    border-bottom: $height/2 solid transparent;
    position: absolute;
    left: -$ew;
  }

  width: $width - 2*$ew ;
  height: $height;
  background-color: $color;
  position: relative;
  &:after {
    content: "";
    width: 0;
    position: absolute;
    right: -$ew;
    border-left: $ew solid $color;
    border-top: $height/2 solid transparent;
    border-bottom: $height/2 solid transparent;
  }
}

.hex {
  @include hexagon($color-green, 70px, 60px, 0, 18px);
}

.btn-signup {
  border: 0;
  @include hexagon($color-green, 80px, 26px, 0, 8px);

  input {
    color: white;
    position: absolute;
    border: 0;
    z-index: 20;
    background-color: transparent;
    left: -10px;
    height: 25px;
    width: 80px;
    display: block;
    text-align: center;
  }
}

#error_explanation {
  padding-left: 130px;
  h2 {
    font-size: 14px;
    color: $color-black;
    margin-bottom: 10px;
  }
  ul {
    li {
      margin-bottom: 5px;
    }
    color: $color-red;
    font-size: 14px;
  }
}
