$left-width: 245px;
.devise-left-menu {
  width: $left-width;
  height: 100%;
  float: left;
  background-color: rgba(255,255,255,0.5);
  background: url(/assets/newdesign/bg_white_0.5.png)\9 0 0 repeat;
  .session-menus {
    /*border-top: 2px solid $color-gray-1;*/
    /*border-bottom: 2px solid $color-gray-1;*/
    width: 200px;
    padding-left: 12px;
    padding-right: 35px;
    /*padding-top: 35px;*/
    margin-top: 80px;

    .session-menu-item {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        text-decoration: none;
        color: $color-green;
        display: block;
        padding: 7px;
        padding-left: 10px;
        font-size: 18px;
        font-weight: bold;
        /*border-radius: 2px;*/
        &:hover, &.active {
          background-color: $color-green;
          color: white;
        }
      }
    }
  }
}

.white-box {
  background: url(/assets/newdesign/bg_white_0.5.png) 0 0 repeat\9;
}

.devise-content {
  margin-top: 40px;
  width: 1200px - $left-width;
  float: left;
}

.session-page-header {
  padding-bottom: 30px;
  padding-left: 25px;
  padding-top: 50px;
  margin-top: -90px;
  .header-large {
    color: $color-black;
    font-size: 40px;
    margin-bottom: 5px;

    small {
      margin-left: 20px;
      font-size: 18px;
    }
  }
}

.header-small {
  color: $color-black;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  /*text-shadow: 2px 2px #555;*/
}

.facebook-auth {
  color: #48639F;
  font-size: 14px;
  text-decoration: none;
  line-height: 30px;
  &:before { 
    content: "";
    float: left;
    @include size(25px 25px);
    background: url(/assets/icn-facebook-login.png) no-repeat;
    margin-right: 10px;
  }
}


.form-label-inline {
  width: 100px;
  display: block;
  float: left;
  font-size: 14px;
  color: $color-gray-2;
  padding-top: 5px;

  &.design2 {
    font-size: 18px;
    color: $color-black;
    margin-left: 50px;
  }

}

.field-wrapper {
  margin-bottom: 25px;
  input[type="email"], input[type="password"], input[type="text"] {
    border: 1px solid $color-gray-1;
    font-size: 14px;
    width: 210px;
    height: 25px;
    color: $color-black;
    margin: 0;
  }

  textarea {
    width: 600px;
    border: 1px solid $color-gray-1;
    /*min-height: 200px;*/
  }
}

hr {
  height: 2px;
  background-color: $color-gray-1;
  margin: 0; padding: 0; border: 0;border-bottom: 1px solid $color-gray-4;
}

.btn-login {
  display: block;
  @include size((62px - 10px) (62px - 10px));
  border: 0;
  border-radius: 5px;
  color: white;
  background-color: $color-gray-5;
}

.other-action {
  .instruction {
    color: $color-gray-2;
    font-size: 14px;
    float: left;
    width: 180px;
    display: block;
  }
  .action {
    background: url(/assets/bg-session-action-btn.png) no-repeat;
    @include size(125px 22px);
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding-top: 5px;
  }
  margin-bottom: 5px;
}


.category-wrapper {
  margin: 20px 0;
  .instruction {
    text-align: right;
    margin-top: -35px;
    height: 35px;
  }
  /*border-top: 1px solid $color-gray-1;*/
  /*border-bottom: 1px solid $color-gray-1;*/
  padding: 20px 0;

  font-size: 16px;
  color: $color-black;


  label {
    margin-left: 10px;
    cursor: pointer;
    padding: 5px 10px;
  }

  input[type=checkbox]:checked + label { //detect checked checkbox
    background-color: #008585;
    border-radius: 3px;
    color: white;
  }

  .divider {
    margin-left: 10px;
    font-size: 13pt;
    color: $color-gray-6;
  }
}

.hex {
  @include hexagon($color-green, 70px, 60px, 0, 18px);
}

.btn-signup {
  border: 0;
  @include hexagon($color-green, 80px, 26px, 0, 8px);

  input {
    color: white;
    position: absolute;
    border: 0;
    z-index: 20;
    background-color: transparent;
    left: -10px;
    height: 25px;
    width: 80px;
    display: block;
    text-align: center;
  }
}

#error_explanation {
  padding-left: 130px;
  h2 {
    font-size: 14px;
    color: $color-black;
    margin-bottom: 10px;
  }
  ul {
    li {
      margin-bottom: 5px;
    }
    color: $color-red;
    font-size: 14px;
  }
}

.bg-btn-blue {
  background:url(/assets/newdesign/bg_btn_blue.png);
}
.bg-btn-red {
  background:url(/assets/newdesign/bg_btn_red.png);
}

.bg-btn-login {
background: url(/assets/newdesign/bg_btn_login.png); 
}
.bg-btn-dark-green {
  background: url(/assets/newdesign/bg_btn_dark_green.png); 
}
