#gnb {
  width: 100%;
  height: 135px;
  /*background-color: #eee;*/
  /*margin-top: 15px;*/
  /*margin-bottom: 15px;*/
}

#site-logo {
  $w: 136px;
  $h: 68px;
  margin-top: 24px;
  background: url(/assets/site-logo.gif) no-repeat 0 0;
  background-size: $w $h;

  @include size($w $h);
  /*float: left;*/
  a {
    @include size(100% 100%);
    display: block;
  }
}

.menu {
  float: right;
  height: 12px;
  margin-top: 6px;
  .menu-item {
    float: left;
    width: 136px;
    height: 100%;
    border-right: 1px solid #bdbfc1;
    &:last-child {
      border-right: none;
    }
    a {
      @include size(128px 34px);
      margin: 0 4px;
      margin-top: -10px;
      padding: 10px 4px;
      display: block;
      text-decoration: none;
      text-align: center;
      color: #666;
      font-size: 16px;
      text-transform: uppercase;
      border-radius: 3px;
      &:hover {
        color: white;
        background-color: #ddd;
      }
    }
  }
}

#login-status {
  margin-top: 15px;
  margin-right: 25px;
  padding-top: 2px;
  height: 24px;
  /*@include size(100% 24px);*/
  /*background-color: #aaa;*/
  float: right;
  text-align: right;
  font-size: 12px;
  a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-light-green;
    margin-left: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
  
}
