#gnb {
  width: 100%;
  height: 180px;
  /*background-color: #eee;*/
  /*margin-top: 15px;*/
  /*margin-bottom: 15px;*/
}

#site-logo {
  $w: 200px;
  $h: 100px;
  margin-top: 24px;
  background: url(/assets/site-logo.gif) no-repeat 0 0;
  background-size: $w $h;

  @include size($w $h);
  /*float: left;*/
  a {
    @include size(100% 100%);
    display: block;
  }
}

.menu {
  float: right;
  height: 12px;
  margin-top: -10px;
  .menu-item {
    float: left;
    width: 165px;
    height: 40px;
    border-right: 1px solid #bdbfc1;
    margin-right: 10px;
    &:last-child {
      border-right: none;
      margin-right: 0;
    }
    a {
      @include size(165px 40px);
      background: url(/assets/newdesign/bg_btn.png);
      /*margin: 0 4px;*/
      /*margin-top: -10px;*/
      padding: 10px 4px;
      display: block;
      text-decoration: none;
      text-align: center;
      color: $color-green;
      font-size: 20px;
      /*text-transform: uppercase;*/
      border-radius: 3px;
      &:hover {
        color: white;
        background-color: #ddd;
      }
    }
  }
}

#login-status {
  /*margin-top: 15px;*/
  /*margin-right: 25px;*/
  padding-top: 2px;
  height: 36px;
  /*background-color: #aaa;*/
  float: right;
  /*text-align: right;*/
  font-size: 16px;
  a.top-menu {
    background: url(/assets/newdesign/bg_btn_login.png);
    @include size(123px 36px);
    float: right;
    display: block;
    /*font-weight: bold;*/
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding-top: 8px;
    color: white; //$color-light-green;
    margin-left: 5px;
    &:hover {
      text-decoration: underline;
    }
  }

  a.small-menu {
    color: #231F20;
    font-size: 16px;
    text-decoration: none;
    line-height: 36px;
    margin-right: 15px;
    &:hover {
      text-decoration: underline;
    }
  }
}

#search-bar {

  margin-top: 10px;
  position: relative;
  @include size(326px 44px);
  border: 3px solid #E0E0E0;
  .text {
    height: 100%;
    width: 280px;
    margin: 0;
    border: 0;
    display: block;
    position: absolute;
    left: 0;
    font-size: 15px;
    padding-left: 5px;
  }
  .submit {
    @include size(40px 38px);
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    right: 0;
  }
}
