// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section-title {
  text-transform: uppercase;
  @include size(100% 30px);
  line-height: 30px;
  color: $color-green;
  font-size: 25px;
  font-weight: bold;
  margin-top: 56px;
  margin-bottom: 48px;
  small {
    margin-left: 26px;
    font-size: 11px;
    color: #898989;
    font-weight: normal;
    display: inline-block;
    line-height: 110%;
  }

  .more {
    @include size(64px 23px);
    line-height: 23px; //c30d23

    float: right;
    display: block;
    color: white;
    text-decoration: none;
    background: url(/assets/bg-more.png) no-repeat;
    /*background-color: #E7E7E8;*/
    text-transform: uppercase;

    text-align: center;

    font-size: 10px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
  }
}

#selected-contents {
  margin-top: 10px;
  .categories {
    @include size(175px 100%);

    background-color: #eee;

    margin-right: 12px;
  }

  .contents {
    /*background-color: #eee;*/
    /*display: flex;*/
    /*-webkit-flex-flow: row wrap;*/
    /*flex-direction: row;*/
    /*-webkit-justify-content: flex-start;*/
    /*-webkit-align-content: flex-start;*/

    @include size(100% 100%);
    $gap: 10px;
    $w: (1200px - 4*$gap) / 5;
    .item {
      border-radius: 5px;
      img {
        width: 100%;
        margin-top: -22px;
      }
      img.talk-tag {
        display: block;
        position: absolute;
        right: 5px;
        top: 5px + 22px;
        @include size(36px 27px);
      }

      float: left;
      @include size($w 130px);
      /*border: 1px solid red;*/
      margin-right: 10px;
      margin-bottom: 10px;

      &:nth-child(4) {
        margin-right: 0px;
      }
      &:nth-child(7) {
        margin-right: 0px;
      }
      &:nth-child(12) {
        margin-right: 0px;
      }


      overflow: hidden;
      &:first-child {
        @include size((2*$w + $gap) (130px*2 + 10px));

        //첫번째에 오는것들은 죄다 크다.
        .overlay {
          padding-left: 25px;
          /*padding-right: 12px;*/
          top: calc(100% - 90px);
          .name {
            font-size: 13px;
            margin-bottom: 10px;
            margin-top: 20px;
          }

          .title {
            font-size: 24px;
            margin-bottom: 45px;
          }

          .category {
            margin-bottom: 50px;
            font-size: 12px;
          }

          .description {
            font-size: 12px;
          }
        }
      }
    }
  }

  @include size(100% (132px*3 + 10px*2));
  /*border: 1px solid black;*/
}

#crowd-sourcing {
  .item {
    position: relative;
    display: block;

    margin-right: 10px;
    margin-bottom: 10px;

    /*padding-left: 8px;*/
    /*padding-top: 8px;*/

    &:nth-child(3), &:nth-child(5) {
      margin-right: 0;
    }

    background-color: $color-gray-4;

    $item-height: 134px;
    $item-width: 226px;
    $gap : 10px;

    @include size($item-width $item-height);

    /*@mixin state-tag($w, $fg_color, $bg_color) {*/
      /*color: $fg_color;*/
      /*@include size(0 0);*/
      /*border-right: $w solid $bg_color;*/
      /*border-top: $w solid $bg_color;*/
      /*border-bottom: $w solid transparent;*/
      /*border-left: $w solid transparent;*/
      /*position: absolute;*/
      /*top: 0; right: 0;*/
      /*span {*/
        /*font-size: small;*/
        /*margin-top: -$w/2;*/
        /*width: $w;*/
        /*position: absolute;*/
      /*}*/
    /*}*/

    .q-number {
      font-size: 20px;
      color: $color-green;
      margin-left: 8px;
      margin-top: 8px;
      .dot {
        color: $color-red;
        content: ".";
      }
    }

    .overlay {
      top: 100%;
    }

    .state-tag.small {
      /*@include state-tag(20px, white, #444);*/
      span {
        font-size: 10px;
      }
    }

    .thumbnail {
      @include size(72px 92px);
      margin: 0 8px;
      display: block;
      float: left;
    }

    .description {
      width: $item-width - 72px - 8px*2;
      margin-top: 30px;
      height: $item-height - 90px;
      overflow: hidden;
      float: left;
      font-size: 9pt;
      line-height: 120%;
      color: $color-gray-2;
      /*margin-top: 30px;*/
      padding-right: 8px;
    }

    .state-tag {
      position: absolute;
      right: 5px;
      top: 5px;
      color: $color-red;
      font-weight: bold;
    }

    &:first-child {
      background: transparent;
      @include size((1200px - $gap*2 - $item-width*2) ($item-height*2 + $gap));
      padding-right: 10px;
      /*padding-left: 0;*/
      /*padding-top: 0;*/

      .thumbnail {
        @include size((728px - 480px - 20px - 10px) 100%);
        /*background: url(http://placekitten.com/214/284);*/
        float: left;
        margin-left: 0;
        margin-right: 20px;
        overflow: hidden;
      }

      .q-number {
        font-size: 30px;
        margin: 0;
      }

      .state-tag {
        /*@include state-tag(30px, white, #444);*/
        @include size(20px 20px);
        top: 20px; right: 10px;
        font-size: 11px;
        color: #148786;
        text-align: center;
        padding-top: 20px;
        background-repeat: no-repeat;
        &.pre {
          background: url(/assets/icn-league-pre-small.png);
        }
        &.final {
          background: url(/assets/icn-league-final-small.png);
        }
        &.close {
          background: url(/assets/icn-league-close-small.png);
        }
      }

      .excerpt {
        padding-top: 20px;
        @include size(480px 100%);
        float: left;

        .best-answers {
          margin-top: 15px;
        }
        .answer-item {
          padding: 32px 20px 10px 20px;
          width: 160px - 10px;
          margin-left: 10px;
          background-color: $color-gray-4;
          float: left;
          display: block;
          border-radius: 5px;
          position: relative;
          font-size: 14px;
          .rank {
            display: block;
            position: absolute;
            left: -10px;
            top: -5px;
            background: url(/assets/bg-rank.png) 0 0px no-repeat;
            @include size(34px 30px);
            line-height: 30px;
            color: $color-red;
            font-weight: bold;
            text-align: center;
          }
          .profile {
            @include size(50px 50px);
          }
          .meta {
            margin-top: 20px;
            padding: 0 10px;
            color: $color-gray-7;
            .count {
              padding-left: 20px;
              padding-top: 2px;
              float: left;
            }
            .like-count {
              background: url(/assets/icn-like-count.png) no-repeat;
            }
            .comment-count {
              background: url(/assets/icn-comment-count.png) 0 1px no-repeat;
              float: right;
            }
          }
        }

        .title {
          font-size: 25px;
          line-height: 130%;
          text-align: center;
          padding: 15px 120px;
          color: #148786;
        }

        .tagline {
          text-align: center;
          color: $color-gray-2;
        }
      }

      h6 {
        color: $color-green;
        font-size: 14pt;
        /*font-weight: bold;*/
      }
    }
    float: left;
    /*border: 1px solid #aaa;*/

  }

  @include size(100% 240px);
}

#experts-corporation {
  .member {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    /*border: 1px solid #aaa;*/
    /*@include size(50% 300px);*/
    @include size(285px 285px);
    &:first-child {
      margin-right: 10px;
    }
    .bg {
      display: block;
      position: absolute;
      top: 0;
      @include size(100% 100%);
    }
    .overlay {
      position: absolute;
      top: calc(100% - 76px);
      transition: top 0.3s ease-out;
      background-color: $color-black-80;
      color: white;
      @include size(100% 100%);
      overflow: hidden;
      padding-left: 12px;
      padding-right: 12px;

    }

    h6 {
      position: absolute;
      top: 10px;
      left: 10px;
      color: white;
      font-size: 16px;
    }
  }
}

//common item hover overlay effect
.item {
  text-decoration: none;
  &.member {
    .overlay {
      top: calc(100% - 76px);
    }
  }

  .overlay {
    position: absolute;
    top: calc(100% - 48px);
    transition: top 0.3s ease-out;
    background-color: $color-black-80;
    color: white;
    @include size(100% 100%);
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;

    .name {
      margin-top:12px;
      margin-bottom:3px;
      font-size: 12px;
    }
    .title {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
      white-space: nowrap;
      /*text-overflow: ellipsis;*/
      overflow-x: hidden;
      padding-top: 2px;
    }
    .description {
      font-size: 10px;
      line-height: 120%;
    }

    .category {
      margin-top: 7px;
      margin-right: -7px;
      text-align: right;
      font-size: 10px;
      display: none;
      color: $color-blue;
    }

    .more {
      color: $color-blue;
      font-weight: bold;
      font-size: 12px;
      position: absolute;
      right: 7px;
      bottom: 5px;
      text-decoration: none;
    }
  }
  &:hover {
    .overlay {
      top: 0 !important;
    }

    .category {
      display: block;
    }
  }

  .bg {
    display: block;
    position: absolute;
    top: 0;
    @include size(100% 100%);
  }
  overflow: hidden;
  position: relative;
}

//category section
.categories {
  .link-group {
    padding-bottom: 20px;
  }
  /*padding-top: 10px;*/
  font-size: 13px;

  .button {
    &:first-child {
      margin-left: 0;
    }
    color: #828283;
    text-decoration: none;
    padding: 4px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    cursor: hand; 
    /*text-align: center;*/
    &:hover {
      color: white;
      background-color: $color-gray-1;
      border-radius: 3px;
    }

    &.active {
      color: white;
      background-color: $color-green;
      border-radius: 3px;
    }
  }

  margin-bottom: 26px;
}

.member-tagline {
  margin-top: 12px;
  margin-bottom: 8px;
  white-space: nowrap;
  /*text-overflow: ellipsis;*/
  overflow-x: hidden;
  font-weight: normal;
  text-align: right;
}

.member-name {
  padding-top: 2px;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
}


