// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section-title {
  text-transform: uppercase;
  @include size(100% 30px);
  line-height: 30px;
  color: $color-green;
  font-size: 25px;
  font-weight: bold;
  margin-top: 90px;
  margin-bottom: 50px;
  small {
    margin-left: 26px;
    font-size: 11px;
    color: $color-gray-1;
    font-weight: normal;
  }

  .more {
    @include size(64px 23px);
    line-height: 23px;

    float: right;
    display: block;
    color: white;
    text-decoration: none;
    background: url(/assets/bg-more.png) no-repeat;
    /*background-color: #E7E7E8;*/
    text-transform: uppercase;

    text-align: center;

    font-size: 10px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
  }
}

#selected-contents {
  margin-top: 10px;
  .categories {
    @include size(175px 100%);

    background-color: #eee;

    margin-right: 12px;
  }

  .contents {
    /*background-color: #eee;*/
    /*display: flex;*/
    /*-webkit-flex-flow: row wrap;*/
    /*flex-direction: row;*/
    /*-webkit-justify-content: flex-start;*/
    /*-webkit-align-content: flex-start;*/

    @include size(100% 100%);
    $gap: 10px;
    $w: (1200px - 4*$gap) / 5;
    .item {
      img {
        @include size(100% 100%);
      }
      float: left;
      @include size($w 132px);
      /*border: 1px solid red;*/
      margin-right: 10px;
      margin-bottom: 10px;

      &:nth-child(4) {
        margin-right: 0px;
      }
      &:nth-child(7) {
        margin-right: 0px;
      }


      overflow: hidden;
      &:first-child {
        @include size((2*$w + $gap) (132px*2 + 10px));

        //첫번째에 오는것들은 죄다 크다.
        .overlay {
          padding-left: 25px;
          /*padding-right: 12px;*/
          top: calc(100% - 65px);
          .name {
            font-size: 13px;
            margin-bottom: 10px;
          }

          .title {
            font-size: 24px;
            margin-bottom: 45px;
          }

          .category {
            margin-bottom: 50px;
            font-size: 12px;
          }

          .description {
            font-size: 12px;
          }
        }
      }
    }
  }

  @include size(100% (132px*2 + 10px));
  /*border: 1px solid black;*/
}

#crowd-sourcing {
  .item {
    position: relative;
    display: block;

    margin-right: 10px;
    margin-bottom: 10px;

    /*padding-left: 8px;*/
    /*padding-top: 8px;*/

    &:nth-child(3), &:nth-child(5) {
      margin-right: 0;
    }

    background-color: #eee;

    $item-height: 134px;
    $item-width: 226px;
    $gap : 10px;

    @include size($item-width $item-height);

    /*@mixin state-tag($w, $fg_color, $bg_color) {*/
      /*color: $fg_color;*/
      /*@include size(0 0);*/
      /*border-right: $w solid $bg_color;*/
      /*border-top: $w solid $bg_color;*/
      /*border-bottom: $w solid transparent;*/
      /*border-left: $w solid transparent;*/
      /*position: absolute;*/
      /*top: 0; right: 0;*/
      /*span {*/
        /*font-size: small;*/
        /*margin-top: -$w/2;*/
        /*width: $w;*/
        /*position: absolute;*/
      /*}*/
    /*}*/

    .q-number {
      font-size: 20px;
      color: $color-green;
      margin-left: 8px;
      margin-top: 8px;
      .dot {
        color: $color-red;
        content: ".";
      }
    }

    .overlay {
      top: 100%;
    }

    .state-tag.small {
      /*@include state-tag(20px, white, #444);*/
      span {
        font-size: 10px;
      }
    }

    .thumbnail {
      @include size(72px 92px);
      margin: 0 8px;
      display: block;
      float: left;
    }

    .description {
      width: $item-width - 72px - 8px*2;
      margin-top: 30px;
      height: $item-height - 90px;
      overflow: hidden;
      float: left;
      font-size: 9pt;
      line-height: 120%;
      color: $color-gray-2;
      /*margin-top: 30px;*/
      padding-right: 8px;
    }

    .state-tag {
      position: absolute;
      right: 5px;
      top: 5px;
      color: $color-red;
      font-weight: bold;
    }

    &:first-child {
      background: transparent;
      @include size((1200px - $gap*2 - $item-width*2) ($item-height*2 + $gap));
      padding-right: 10px;
      /*padding-left: 0;*/
      /*padding-top: 0;*/

      .thumbnail {
        @include size((214px - 20px) 100%);
        /*background: url(http://placekitten.com/214/284);*/
        float: left;
        margin-right: 20px;
        overflow: hidden;
      }

      .q-number {
        font-size: 40px;
        margin: 0;
      }

      .state-tag {
        /*@include state-tag(30px, white, #444);*/
        @include size(31px 28px);
        background: url(/assets/icn-hexagon.png) no-repeat;
        top: 20px; right: 10px;
        font-size: 11px;
        color: white;
        text-align: center;
        padding-top: 9px;
      }

      .excerpt {
        padding-top: 20px;
        @include size(66.666% 100%);
        float: left;

        .answer-item {
          span { line-height: 50px; }
          .rank {
            &:after { content: "위"; }
          }
          .profile {
            @include size(50px 50px);
          }
          .like-count {
            &:after { content: "표"; }
            float: right;
          }
        }

        .title {
          font-size: 14px;
          line-height: 130%;
          text-align: center;
          padding: 15px 120px;
        }
      }
    }
    float: left;
    /*border: 1px solid #aaa;*/

  }

  @include size(100% 240px);
}

#experts-corporation {
  .item {
    border: 1px solid #aaa;
    @include size(50% 300px);
  }
}

//common item hover overlay effect
.item {
  text-decoration: none;
  .overlay {
    position: absolute;
    top: calc(100% - 48px);
    transition: top 0.3s ease-out;
    background-color: $color-black-80;
    color: white;
    @include size(100% 100%);
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;

    .name {
      margin-top:12px;
      margin-bottom:3px;
      font-size: 12px;
    }
    .title {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .description {
      font-size: 10px;
      line-height: 120%;
    }

    .category {
      margin-top: 7px;
      margin-right: -7px;
      text-align: right;
      font-size: 10px;
      display: none;
      color: $color-blue;
    }

    .more {
      color: $color-blue;
      font-weight: bold;
      font-size: 12px;
      position: absolute;
      right: 7px;
      bottom: 5px;
      text-decoration: none;
    }
  }
  &:hover {
    .overlay {
      top: 0 !important;
    }

    .category {
      display: block;
    }
  }

  .bg {
    display: block;
    position: absolute;
    top: 0;
    @include size(100% 100%);
  }
  overflow: hidden;
  position: relative;
}

//category section
.categories {
  /*padding-top: 10px;*/
  padding-bottom: 20px;

  ul {
    li {
      font-size: 12px;
      float: left;
      color: #828283;
      label {
        display: inline-block;
        padding: 4px;
        width: 60px;
        text-align: center;
        margin-right: 10px;
        cursor: pointer;
        cursor: hand; 
        /*text-align: center;*/
        &:hover {
          color: white;
          background-color: $color-gray-1;
          border-radius: 3px;
        }

        &.active {
          color: white;
          background-color: $color-green;
          border-radius: 3px;
        }
      }
      &:last-child:after {
        content: '';
      }
      &:after {
        content: '/';
        margin-right: 10px;
      }

      input[type='checkbox'] {
        display: none;
      }
    }

    margin-bottom: 15px;
  }
}


