// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//favorite page styles

.favorites.section-header {
  color: $color-light-green;
  font-size: 20px;
  font-weight: bold;
  padding: 25px 0 10px 0;
  &:before {
    content: "* ";
  }
}

.section-divider {
  height: 1px;
  background-color: $color-gray-4;
  border: 0;
}

.favorite-items {

  padding-bottom: 20px;
  text-align: center;

  .item {
    display: inline-block;
    @include size(232px 130px);
    background-color: $color-gray-1;
    margin-left: 12px;
    img {
      width: 100%;
      margin-top: -22px;
    }
    &:first-child {
      margin-left: 0;
    }
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .overlay { display: block; text-decoration: none;}
}

nav.pagination {
  text-align: center;
  font-size: 20px;
  .page {
    a { text-decoration: none; color: $color-light-green; }
    margin: 0 5px
  }
  .current {
    color: $color-red;
  }
}
