// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.phase-bar {
  margin-bottom: 20px;
  .phase {
    float: left;
    @include size(33.3333% 45px);
    .btn {
      display: block;
      float: left;
      width: 321px;
      height: 45px;
      background-color: $color-gray-1;
      padding-top: 12px;
      padding-left: 20px;

    }
    background-position: 100%;
    color: $color-gray-6;
    font-size: 20px;
    small {
      font-size: 12px;
      margin-left: 15px;
    }
    &.active {
      &:after {
        background-image: url(/assets/bg-phase-arrow-active.png);
      }
      .btn { background-color: $color-red; }
      color: white;
    }

    &:after {
      display: block;
      float: right;
      @include size(20px 100%);
      content: '';
      background-color: $color-gray-1;
      background-image: url(/assets/bg-phase-arrow.png);
      background-repeat: no-repeat;
    }

    &:last-child:after{
      background-color: transparent;
    }

    a.btn {
      color: inherit;
      text-decoration: none;
    }
  }
}

.problem-content {
  padding: 40px 30px;
  padding-bottom: 0;
  background-color: $color-gray-3;
  .column {
    &:first-child {
      width: 600px;
    }
    &:last-child {
      /*width: */
    }
  }

  .question-text {
    background-color: white;
    height: 334px;
    overflow-y: auto;
    padding: 20px;
    font-size: 12px;
    line-height:130%;
    p {
      margin-bottom: 15px;
    }
  }

}


.comment-section-title {
  color: $color-red;
  background-color: $color-gray-3;
  padding: 16px 18px;
  /*padding-left: 18px;*/
  font-size: 10pt;
}

#best-comments {
  .comment {
    &:nth-child(1) {
      .comment-author-info:before {
        content: '1';
      }
    }
    &:nth-child(2) {
      .comment-author-info:before {
        content: '2';
      }
    }
    &:nth-child(3) {
      .comment-author-info:before {
        content: '3';
      }
    }
  }
  .comment-author-info {
    margin-left: 0;
    margin-right: 2px;
    .name, .company{
      margin-left: 40px + 34px + 14px;
    }

    .profile-photo {
      left: 48px;
    }

    @include size((138px + 18px + 34px) 100%);
    &:before {
      content: '';
      color: $color-red;
      text-align: center;
      padding-top: 7px;
      font-weight: bold;
      @include size(34px 23px);
      display: block;
      float: left;
      background: url(/assets/bg-rank.png) 0 0px no-repeat;
      margin-right: 14px;
    }
  }
}

//final 프레젠테이션(?) 개별 스타일
.presentation {
  padding: 15px;
  padding-top: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
  &:first-child { margin-left: 0; }
  float: left;
  $w: (1024px - 20px*2)/3;
  @include size($w $w);
  background-color: $color-gray-3;

  .profile-photo {
    @include size(57px 57px);
    float: right;
    display: block;
    margin-left: 5px;
  }

  .name {
    color: $color-green;
    text-align: right;
    font-size: 15pt;
    margin-bottom: 5px;
    padding-top: 3px;
  }

  .company-interests {
    font-size: 9pt;
    color: $color-gray-2;
    text-align: right;
    margin-bottom: 3px;
  }

  .candidate-badge {
    margin-top: -10px;
    background: url(/assets/bg-rank-big.png) no-repeat;
    @include size(84px 73px);
    color: $color-red;
    font-size: 10pt;
    text-align: center;
    padding-top: 27px;
    float: left;
  }

  .pt-content {
    padding: 10px;
    background-color: white;
    color: $color-black;
    line-height: 150%;
    text-align: center;
    margin-bottom: 30px;
    height: 95px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 9pt;
  }

  .like-count {
    padding-top: 10px;
    &:before {
      content: '';
      @include size(27px 23px);
      background: url(/assets/icn-like-count-3.png) no-repeat;
      display: inline-block;
    }
    color: $color-green;
    font-size: 30pt;
    text-align: center;
  }

  .vote-button {
    @include hexagon($color-green, 175px, 60px, 0, 20px);
    margin: 0 auto;
    color: white;
    a {
      text-decoration: none;
      color: white;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      line-height: 100%;
      padding-top: 22px;
      text-align: center;
    }

    .not-login {
      font-size: 9pt;
      position: absolute;
      text-align: center;
      width: 100%;
      padding-top: 15px;
      line-height: 130%;
    }
  }
}

.after-comments {
  font-size: 10pt;
  line-height: 150%;
  /*margin-bottom: 10px;*/
  .comment-header {
    background: url(/assets/bg-rank-2.png) no-repeat;
    height: 38px;
    padding-top: 9px;
    font-size: 14pt;
    margin-bottom: 20px;
    .label {
      color: $color-red;
      /*font-size: 14pt;*/
      margin-right: 25px;
      margin-left: 17px;
    }
  }
}

.sketch-header  {
  margin-top: 40px;
  background: url(/assets/icn-pencil.png) no-repeat;
  padding-left: 40px;
  height: 31px;
  font-size: 15pt;
  padding-top: 10px;
  color: $color-green;
}

.sketch {
  margin-top: 20px;
  padding: 60px 200px;
  background: white;
  font-size: 10pt;
  line-height: 150%;

  p {
    margin-top: 20px;
  }
}
