// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.phase-bar {
  .phase {
    float: left;
    @include size(33.3333% 45px);
    span {
      display: block;
      float: left;
      width: calc(100% - 20px);
      height: 45px;
      background-color: $color-gray-1;
      padding-top: 12px;
      padding-left: 20px;

    }
    background-position: 100%;
    color: $color-gray-6;
    font-size: 20px;
    small {
      font-size: 12px;
      margin-left: 15px;
    }
    &.active {
      &:after {
        background-image: url(/assets/bg-phase-arrow-active.png);
      }
      span { background-color: $color-red; }
      color: white;
    }

    &:after {
      display: block;
      float: right;
      @include size(20px 100%);
      content: '';
      background-color: $color-gray-1;
      background-image: url(/assets/bg-phase-arrow.png);
      background-repeat: no-repeat;
    }

    &:last-child:after{
      background-color: transparent;
    }
  }
}

.problem {
  padding: 40px 30px;
  padding-bottom: 0;
  background-color: $color-gray-3;
  .column {
    &:first-child {
      width: 600px;
    }
    &:last-child {
      /*width: */
    }
  }
}

.comment-section-title {
  color: $color-red;
  background-color: $color-gray-3;
  padding: 16px 18px;
  /*padding-left: 18px;*/
  font-size: 10pt;
}

#best-comments {
  .comment {
    &:nth-child(1) {
      .comment-author-info:before {
        content: '1';
      }
    }
    &:nth-child(2) {
      .comment-author-info:before {
        content: '2';
      }
    }
    &:nth-child(3) {
      .comment-author-info:before {
        content: '3';
      }
    }
  }
  .comment-author-info {
    margin-left: 0;
    margin-right: 2px;
    .name, .company{
      margin-left: 40px + 34px + 14px;
    }

    @include size((138px + 18px + 34px) 100%);
    &:before {
      content: '';
      color: $color-red;
      text-align: center;
      padding-top: 7px;
      font-weight: bold;
      @include size(34px 23px);
      display: block;
      float: left;
      background: url(/assets/bg-rank.png) 0 0px no-repeat;
      margin-right: 14px;
    }
  }
}
