// Place all the styles related to the professionals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name-indexes {
  font-size: 10pt;
  li {
    float: left;
    margin-right: 10px;
    a {
      text-decoration: none;
    }
  }
  margin-bottom: 60px;
}

.professional {
  position: relative;
  $w: (1200px - 40px)/5;
  @include size($w $w);
  margin-left: 10px;
  margin-bottom: 10px;
  &:first-child {
    margin-left: 0;
  }
  float: left;
  img {
    width: 100%;
  }

  .overlay {
    @include size(100% 75px);
    position: absolute;
    bottom: 0;
    background-color: $color-black-80;
    color: white;
    padding: 15px;
    .name {
      font-size: 40px;
      float: right;
    }

    .company {
      font-size: 13px;
      float: left;
      line-height: 130%;
    }
  }
}

.professional-intro, .company-intro {
  background-color: $color-gray-3;
  padding: 40px 30px;
  padding-bottom: 0;

  .column {
    &.left {
      width: 578px;
    }
    &.right {
      width: 1024px - 60px - 25px - 578px;
    }

    .section-content {
      padding: 15px;
      margin-bottom: 18px;
      background-color: $color-gray-4;
    }
  }

  .detail-wrapper {
    background-color: white;
    padding: 40px;
    height: 720px;
    p {
      font-size: 12px;
      line-height: 160%;
      margin-bottom: 15px;
    }
  }

  .profile {
    background-color: $color-gray-3;
    padding: 10px;
    .profile-image {
      float: left;
      @include size(60px 60px);
      margin-right: 20px;
    }
    background: url(/assets/icn-expert-badge.png) 100% 0 no-repeat;

    .name {
      font-size: 25px;
      /*font-weight: bold;*/
      color: $color-black;
      margin-left: 20px;
      padding-top: 10px;
      padding-bottom: 7px;
    }
    .company-position {
      font-weight: normal;
      font-size: 14px;
      color: $color-gray-7;
      margin-left: 12px;
    }
  }

  .info {
    .title {
      font-size: 10pt;
      color: $color-green;
      font-weight: bold;
      float: left;
    }

    .detail {
      font-size: 10pt;
      color: $color-gray-7;
      margin-left: 80px;
      margin-bottom: 15px;
      line-height: 120%;
    }
  }
}

.divider {
  font-size: 10pt;
  a {
    margin: 0 20px;
    text-decoration: none;
    color: $color-black;
    &.active {
      /*font-weight: bold;*/
      color: $color-green;
    }
    &:first-child {
      margin-left: 0;
    }
  }

  margin-bottom: 20px;
}

.content-header h1.professional {
  background: url(/assets/icn-expert.png) 15px 15px no-repeat;
  padding-left: 75px;
}
