// Place all the styles related to the professionals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name-indexes {
  font-size: 15px;
  margin-left: 0px;
  li {
    float: left;
    margin-right: 4px;
    a {
      text-decoration: none;
      display: inline-block;
      padding: 4px;
      color: $color-black;
      border-radius: 3px;
      &:hover {
        background-color: $color-gray-1;
        color: white;
      }
      &.active {
        color: white;
        background-color: $color-green;
      }

      behavior: url(/ie/PIE.htc);
    }
  }
  margin-bottom: 60px;
}

.professionals-container {
  margin-bottom: 20px;
}

.professional {
  border-radius: 5px;
  position: relative;
  $w: (1200px - 40px)/5;
  @include size($w $w);
  margin-left: 10px;
  margin-bottom: 10px;
  &.left-zero {margin-left: 0\9;}
  &:first-child { margin-left: 0; }
  &:nth-child(6) { margin-left: 0; }
  &:nth-child(11) { margin-left: 0; }
  &:nth-child(16) { margin-left: 0; }

  float: left;
  img {
    width: 100%;
  }
  overflow: hidden;

  .overlay {
    @include size(100% 75px);
    position: absolute;
    bottom: 0;
    background-color: $color-black-80;
    // Fxxk IE hack
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b2000000', endColorstr='#b2000000')\9;
    color: white;
    padding: 0;
    padding-right: 10px;

    .categories {
      padding-top: 2px;
      margin: 3px 0;
      text-align: right;
      font-size: 12px;
      color: $color-gray-1;
    }
  
    .name {
      font-size: 28px;
      text-align: right;
      padding-top: 2px;
      /*white-space: nowrap;*/
      /*text-overflow: ellipsis;*/
      /*overflow-x: hidden;*/
    }

    .company {
      font-size: 14px;
      line-height: 130%;
      text-align: right;
      margin-bottom: 4px;

      /*white-space: nowrap;*/
      /*text-overflow: ellipsis;*/
      /*overflow-x: hidden;*/
    }

    .company-tagline {
      text-align: right;
      font-size: 12px;
      /*white-space: nowrap;*/
      /*text-overflow: ellipsis;*/
      /*overflow-x: hidden;*/
      margin: 10px 5px;
      margin-top: 15px;
    }
  }
}

.professional-intro, .company-intro {
  background-color: $color-gray-3;
  padding: 40px 30px;
  padding-bottom: 0;

  .column {
    &.left {
      width: 578px;
    }
    &.right {
      width: 1024px - 60px - 25px - 578px;
    }

    .section-content {
      padding: 15px;
      margin-bottom: 18px;
      background-color: $color-gray-4;
    }
  }

  .detail-wrapper {
    background-color: white;
    padding: 40px;
    height: 720px;
    p {
      font-size: 15px;
      line-height: 160%;
      margin-bottom: 15px;
    }
  }

  .profile {
    background-color: $color-gray-3;
    padding: 10px;
    .profile-image {
      float: left;
      @include size(60px 60px);
      margin-right: 20px;
    }
    &.badge {
      background: url(/assets/icn-expert-badge.png) 100% 0 no-repeat;
    }

    .name {
      font-size: 25px;
      /*font-weight: bold;*/
      color: $color-black;
      margin-left: 20px;
      padding-top: 10px;
      padding-bottom: 7px;
    }
    .company-position {
      font-weight: normal;
      font-size: 14px;
      color: $color-gray-7;
      margin-left: 12px;
    }
  }

  .info {
    .title {
      font-size: 10pt;
      color: $color-green;
      font-weight: bold;
      float: left;
    }

    .detail {
      font-size: 10pt;
      color: $color-gray-7;
      margin-left: 80px;
      margin-bottom: 15px;
      line-height: 120%;
    }
  }
}

.divider {
  font-size: 20px;
  a {
    /*font-size: 15px;*/
    margin: 0 20px;
    text-decoration: none;
    color: $color-black;
    &.active {
      /*font-weight: bold;*/
      color: $color-green;
    }
    &:first-child {
      margin-left: 0;
    }
  }

  margin-bottom: 20px;
}

.content-header h1.title-professional {
  @include size(100% 100%);
  background: url(/assets/icn-expert.png) 15px 15px no-repeat;
  color: white;
  font-size: 15pt;
  padding: 25px 0;
  padding-left: 75px;
}
