// Place all the styles related to the talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


////
//// individual talk page style
////
.content-layer {
  width: 1024px;
  margin-bottom: 50px;

  //layouting
  .column {
    float: left;

    &.left {
      width: 750px;
      margin-right: 24px;
    }
    &.right {
      width: 250px;
    }
  }


  //left column
  .content-header {
    @include size(100% 78px);
    padding-left: 16px;

    /*h3 {color: $color-gray-1; font-size: 12pt;}*/
    background-color: $color-green;
  }

  .video {
    /*padding-top: 35px;*/
    background-color: $color-gray-3;
    @include size(100% 375px);
    iframe {
      @include size(100% 100%);
    }
  }

  .post-wrapper {
    background-color: $color-gray-3;
    .post {
      font-size: 16px;
      line-height: 1.4;
      img {
        width: 100% !important;
        height: auto !important;
      }
      background-color: white;
      padding: 20px 48px;
      p {
        /*font-size: 11pt;*/
	line-height: 1.4;
        margin-bottom: 20px;
      }
    }
    padding: 0 48px 20px 48px;
  }

  .share-actions {
    @include size(100% 52px);
    background-color: $color-gray-3;

    /*margin-bottom: 28px;*/

    padding-top: 12px;
    /*padding-right: 10px;*/

    text-align: right;
    a {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      margin-right: 2px;

      display: inline-block;

      /*@include size(31px 28px);*/
      /*@include background(url("/assets/icn-hexagon.png"), no-repeat);*/
      background-repeat: no-repeat;

      &.like {
        @include size(100px 30px);
        background-image:url("/assets/btn-like.jpg");
        background-position: center;
        margin-right: 10px;
        &.disabled {
          background-image:url("/assets/btn-like-disabled.jpg");
        }
        &.selected {
          background-image:url("/assets/btn-liked.jpg");
        }
      }
      &.share {
        @include size(150px 30px);
        background-image:url("/assets/btn-fb-share.jpg");
        background-position: center;
      }
      &.favorite {
        background-image:url("/assets/icn-star.png"), url("/assets/icn-hexagon.png");
        background-position: center;
        &.selected {
          background-image:url("/assets/icn-star-selected.png"), url("/assets/icn-hexagon.png");
        }
      }
    }
  }


  .tail {
    background-color: $color-gray-3;
    height: 128px;
    position: relative;
    .more {
      text-decoration: none;
      color: white;
      background: url(/assets/bg-more.png), no-repeat;
      display: block;
      @include size(64px 23px);
      float: right;
      text-align: center;
      font-size: 9pt;
      padding-top: 5px;
      margin-top: 10px;
      margin-right: 20px;
    }
    &::after {
      content: "";
      display: block;
      @include size(100% 24px);
      /*margin-top: 104px;*/
      background-color: $color-green;
      position: absolute;
      bottom: 0;
    }
  }

  //right column contents

  .professional {
  }

  .meta {
    padding: 32px 0 10px 40px;
    margin-bottom: 5px;
    background-color: $color-gray-3;

    dl {
      font-size: 15px;
      dt { float: left; color: $color-red; }
      dd { display: block; padding-left: 120px; margin-bottom: 12px; color: $color-gray-7;}
    }
  }

  .section-header { 
    background-color: $color-gray-5; 
    color:white; 
    line-height: 18px;
    height: 18px;
    font-size: 10pt;
    padding-left: 15px;
    margin-bottom: 3px;
  }
  .video-info {
    padding: 8px 13px;
    margin-bottom: 5px;
    background-color: $color-gray-3;

    .title {
      background-color: $color-gray-4;
      padding: 10px 0 10px 15px;
      font-size: 11pt;
      color: $color-gray-5;
      .small {
        margin-top: 5px;
        font-size: 8pt;
        color: $color-green;
      }
    }

    .description {
      word-wrap: break-word;
      background-color: white;
      font-size: 9pt;
      padding: 10px 10px 20px 15px;
      line-height: 120%;
    }

    .category-list {
      margin-top: 15px;
      margin-bottom: 5px;
      .category {
        float: left;
        background-color: $color-gray-5;
        color: white;
        /*@include size(68px 22px);*/
        text-align: center;
        font-size: 10pt;
        /*line-height: 22px;*/
        padding: 5px;
        border-radius: 3px;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .ceo-class-ad {
    @include size(250px 234px);
    background-color: $color-gray-3;
    margin-bottom: 5px;
  }

  .other-videos {
    padding: 8px 13px;
    background-color: $color-gray-3;

    li {
      margin-bottom: 20px;
      background-color: white;
    }

    .talk-title {
      background-color: $color-gray-4;
      color: $color-green;
      padding-left: 15px;
      font-size: 10pt;
      height: 18px;
      line-height: 18px;
    }

    .excerpt {
      background-color: white;
      padding: 12px 8px;

      .thumbnail {
        width: 100%;
        display: block;
        /*float: left;*/
      }

      .description {
        font-size: 8pt;
        color: $color-black;
        width: 104px;
        margin-left: 112px;
        overflow: hidden;
        padding-top: 1px;
      }

    }

  }
}

////
//// talk index page
////

#talks, #problems, #questions {
  /*width: 1200px - 40px + 10px;*/
  /*margin-left: 40px;*/
  $w: 232px;
  $h: 130px;
  $g: 10px;


  .item {
    border-radius: 5px;
    float: left;
    margin-right: $g;
    margin-bottom: $g;
    background-color: black;
    @include size($w $h);
    img {
      width: 100%;
      position: absolute;
      margin-top: -(($w*3/4) - $h)/2;
    }

    &.big{
      @include size(($w*2 + $g) ($h*2 + $g));
      .overlay { 
        top: ($h*2 + $g) - 80px;
        .name {
          font-size: 13px;
          margin-bottom: 10px;
        }

        .title, .title-hover {
          font-size: 24px;
          line-height: 29px;
        }
      }

      .category {
        font-size: 12px;
        margin-bottom: 60px;
      }
      .description  {
        margin-top: 50px;
        font-size: 12px;
        line-height: 130%;
      }

      .more {
        font-size: 14px;
      }
    }


    &.right-zero { margin-right: 0; }
    /*&:nth-child(4) { margin-right: 0; }*/
    /*&:nth-child(7) { margin-right: 0; }*/
    /*&:nth-child(12) { margin-right: 0; }*/
    /*&:nth-child(16) { margin-right: 0; }*/

    &.push-top { margin-top: -($h + $g); }
    /*&:nth-child(17),*/
    /*&:nth-child(18),*/
    /*&:nth-child(19) { margin-top: -($h + $g); }*/

    &.push-left { margin-left: $w + $g; }
    /*&:nth-child(17) { margin-left: $w + $g; }*/

    &.push-left-2 { margin-left: ($w*2 + $g*2); }
    /*&:nth-child(18) { margin-left: ($w*2 + $g*2); }*/
  }

  .overlay {
    top: $h - 50px;
    .name {
      font-size: 10pt;
    }

    .title, .title-hover {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.content-layer {
  .content-header {
    width: 100%;
    h1.post { background: url(/assets/icn-column-big.png) 15px 15px no-repeat; }
    h1.video { background: url(/assets/icn-talk-big.png) 15px 15px no-repeat; }
    h1.question { background: url(/assets/icn-question.png) 15px 15px no-repeat; }
    h1.problem { background: url(/assets/icn-problem.png) 15px 15px no-repeat; }
    background-color:$color-green !important;
  }
}
.content-layer h1.title {
  color: white; 
  font-size: 15pt; 
  padding: 16px 0;
  padding-bottom: 0;
  height: 45px;
  background-color: transparent !important;
  padding-left: 80px;
}

.content-layer h3.category {
  color: #BBBDC0;
  padding-left: 80px;
  font-size: 12px;
}

.link-url-info {
  height: 40px;
  background-color: $color-gray-3;
  line-height: 40px;
  font-size: 15px;
  padding-left: 20px;

  .label {
    font-weight: bold;
    color: $color-gray-5;
    padding-right: 10px;
  }

  .url {
    color: $color-gray-5;
    background-color: white;
    padding: 3px 5px;
  }
}
