// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//users/show
.related-contents {
  .publish {
    .thumbnail {
      @include size(50px);
      /*width: */
      /*height: */
    }
  }
}

//my profile
.profile-info {
  color: $color-gray-2;
  dt {
    float: left;
    width: 150px;
  }
  dd {
    float: left;
    width: 805px;
    margin-bottom: 25px;
    p {
      line-height: 150%;
      padding-right: 10px;
    }
  }

}

.profile-section-header {
  color: #008585;
  font-size: 13pt;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
}
