// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//users/show
.related-contents {
  .publish {
    .thumbnail {
      @include size(50px);
      /*width: */
      /*height: */
    }
  }
}

//my profile
.profile-info {
  color: $color-gray-2;
  dt {
    float: left;
    width: 195px;
    padding-right: 10px;
    font-size: 20px;
    color: $color-black;
    text-align: right;
    /*font-weight: light;*/
    /*text-shadow: 1px 1px 3px #000;*/
  }
  dd {
    float: left;
    /*width: 805px;*/
    padding-left: 17px;
    margin-bottom: 25px;
    font-size: 16px;
    color: $color-black;
    p {
      line-height: 150%;
      padding-right: 10px;
    }
  }

}

.profile-wrapper {
  padding-left: 25px;
  /*background-color: rgba(0,0,0,0.5);*/
  background:url(/assets/newdesign/bg_white_0.5.png) 0 0 repeat\9;
  margin-bottom: 20px;
}
.profile-section-header {
  border-top: 1px solid #F9D24C;
  span { 
    display: block;
    @include size(195px 45px);
    background-color: #F9D24C;
    text-align: center;
    line-height: 45px;
  }
  color: #252525;
  font-size: 25px;
  font-weight: bold;
  /*padding-top: 25px;*/
  padding-bottom: 25px;
}

.form-label-inline.profile-edit {
  width: 195px;
  font-size: 20px;
  color: $color-black;
  /*text-shadow: 1px 1px 3px #000;*/
  text-align: right;
  padding-right: 10px;
}
