$color-green: #03606b;
$color-red: #be1e2d;
$color-blue: #6fccdd;
$color-black-90: rgba(0,0,0,0.8);
$color-black-80: rgba(0,0,0,0.7);
$color-gray-1: #d1d2d4; //섹션 타이틀 옆에
$color-gray-2: #58585b; //메뉴 및 카테고리 버튼
$color-gray-3: #f1f1f2;
$color-gray-4: #e6e7e8;
$color-gray-5: #3A3A3B;
$color-gray-6: #A7A9AC;
$color-gray-7: #8E9092;
$color-black: #231F20; //까만색

