ul.session-menus
  li.session-menu-item = link_to "로그인", new_user_session_path, :class => "#{request.path == new_user_session_path ? "active" : ""}"
  li.session-menu-item = link_to "회원가입", new_user_registration_path, :class => "#{request.path == new_user_registration_path ? "active" : ""}"
  li.session-menu-item = link_to "비밀번호 찾기", new_user_password_path, :class => "#{request.path == new_user_password_path ? "active" : ""}"

