javascript:
  $(function() {
    $modal_dom = $(".reveal-modal");
    function show_modal(url) {
      console.log("show_modal, url=" + url);
      $.get(url, function(r) {
        console.log("get content");
        $modal_dom.html(r);
        $modal_dom.reveal({animation: "fade", animationspeed: 150});
      });
    }
    $(".reveal-modal, body").on('click', 'a.modal-popup', function(e) {
      console.log("modal-popup onclick");
      show_modal($(this).attr("href"));
      e.stopPropagation();
      e.preventDefault();
      return false;
    });

    //detect hash 
    console.dir(window.location);
    if (window.location.hash.length === 0) {
      console.log("hash length 0");
      return;
    }
    var rid = window.location.hash.substring(1);
    url = window.location.pathname + rid;
    console.log("url = " + url);
    show_modal(url);
  });
