.share-actions
  = link_to "like", "javascript: like_content();", :class => "like #{(!current_user ? "disabled" : "")} #{(current_user && current_user.liked?(resource)) ? "selected" : "" }"
  /= link_to "favorite", "javascript: favorite();", :class => "favorite #{(current_user && current_user.favorite?(resource)) ? "selected" : "" }"
  = link_to "share", "javascript: share_popup()", :class => "share"

- if signed_in?
  javascript:
    function like_content() {
      $.post("#{send("like_#{resource.class.name.underscore}_url", resource)}", function(data) {
        if (data.ok) {
          if (data.liked) {
            $(".share-actions a.like").addClass("selected");
          } else {
            $(".share-actions a.like").removeClass("selected");
          }
        } else {
          alert(data.error);
        }
      });
      return false;
    }
- else
  javascript:
    function like_content() {
      alert("로그인이 필요합니다.");
      return false;
    }
javascript:
  function favorite() {
    $.post("#{send("favorite_#{resource.class.name.underscore}_url", resource)}", function (data) {
      if (data.ok) {
        if (data.favorite) {
          $(".share-actions a.favorite").addClass("selected");
        } else {
          $(".share-actions a.favorite").removeClass("selected");
        }
      } else {
        alert(data.error);
      }
    });

    return false;
  }
  function share_popup() {
    var url = "#{send("#{resource.class.name.underscore}_url", resource)}";
    url = "http://www.facebook.com/sharer/sharer.php?u={URL}&t={TITLE}"
      .replace("{URL}", encodeURIComponent(url))
      .replace("{TITLE}", encodeURIComponent("#{title}"));

		var width  = 500;
    var height = 300;

		window.open(url, "share",
				"menubar=no,status=no,resizable=yes,menubar=no,width={WIDTH},height={HEIGHT}"
					.replace("{WIDTH}", width)
					.replace("{HEIGHT}", height)
			);
    return false;
  }
