meta property="og:title" content="#{@talk.title}"
meta property="og:url" content="#{talk_path(@talk)}"
meta property="og:description" content="#{@talk.description}"
meta property="og:image" content="#{@talk.thumb_url}"

= yield
