meta property="og:title" content="#{@resource.send([:name, :title].find {|x| @resource.respond_to? x})}"
meta property="og:url" content="#{send("#{@resource.class_name.downcase}_url", @resource.id)}"
meta property="og:description" content="#{@resource.send([:description, :content].find {|x| @resource.respond_to? x})}"
meta property="og:image" content="#{@resource.thumb_url}"

= yield
